@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../../public/fonts/PeydaFont/Peyda-font-face.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  direction: rtl;
  box-sizing: border-box;
  border: none;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: "Peyda";
}

* {
  font-family: "Peyda";
}

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --darkBlue: #07154d;
  --lightBlue: #5d7dad;
  /* 1F4680 */
  --mastred: #d4c09f;
  /* D1A966 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ---------------------------- custome styles ----------------------------- */
.mainContainer {
  box-shadow: 0 0 44px #0000001f;
  border-radius: 16px;
  padding: 1em;
  background: url("../../public/images/bgNem.jpg");
  background-size: cover;
}
.catalogueList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  grid-gap: 25px;
  text-align: center;
}
.list-item {
  background: hsla(37, 38%, 73%, 1);
  background: linear-gradient(
    40deg,
    hsla(37, 38%, 73%, 1) 0%,
    hsla(216, 61%, 31%, 1) 100%
  );
  background: -moz-linear-gradient(
    40deg,
    hsla(37, 38%, 73%, 1) 0%,
    hsla(216, 61%, 31%, 1) 100%
  );
  background: -webkit-linear-gradient(
    40deg,
    hsla(37, 38%, 73%, 1) 0%,
    hsla(216, 61%, 31%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D4C09F", endColorstr="#1f4680", GradientType=1 );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D1A966", endColorstr="#1F4680", GradientType=1 );
  color: #fff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.2em;
  padding: 1.4em 1em;
}
.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  grid-gap: 25px;
  justify-content: center;
  padding: 1em;
}
.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 1em; */
  background-color: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 0 10px #00000017;
}
.homeNavigate {
  background-color: var(--lightBlue);
  color: #fff;
  padding: 0.24em;
  border-radius: 10px;
  box-shadow: 0 0 13px #0000001c;
}
.introContainer {
  width: 100%;
  height: 100%;
  border: solid 3px var(--lightBlue);
  position: relative;
  /* animation: changeBorders 3s linear; */
}
@keyframes changeBorders {
  0% {
    border: solid 3px #eee;
    border-left: solid 3px var(--lightBlue);
  }
  25% {
    border: solid 3px #eee;
    border-left: solid 3px var(--lightBlue);
  }
  25.02% {
    border: solid 3px #eee;
    border-left: solid 3px var(--lightBlue);
    border-bottom: solid 3px var(--lightBlue);
  }
  50% {
    border: solid 3px #eee;
    border-left: solid 3px var(--lightBlue);
    border-bottom: solid 3px var(--lightBlue);
  }
  50.02% {
    border: solid 3px #eee;
    border-left: solid 3px var(--lightBlue);
    border-bottom: solid 3px var(--lightBlue);
    border-right: solid 3px var(--lightBlue);
  }
  75% {
    border: solid 3px #eee;
    border-left: solid 3px var(--lightBlue);
    border-bottom: solid 3px var(--lightBlue);
    border-right: solid 3px var(--lightBlue);
  }
  75.02% {
    border: solid 3px var(--lightBlue);
  }
}
/* .introContainer::after {
  width: 5px;
  background-color: #eee;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: -5px;
  z-index: 1;
  animation: movedown 3s linear;
  animation-fill-mode: forwards;
  content: "";
  display: inline-block;
} */

@keyframes movedown {
  0% {
    height: calc(100% + 10px);
    width: 5px;
    bottom: -5px;
    left: -5px;
  }
  25% {
    height: 5px;
    width: 5px;
    bottom: -5px;
    left: -5px;
  }
  25.01% {
    height: 5px;
    width: calc(100% + 10px);
    bottom: -5px;
    left: -5px;
  }
  50% {
    height: 5px;
    width: 0%;
    left: 100%;
    bottom: -5px;
  }
  50.01% {
    height: calc(100% + 10px);
    width: 5px;
    left: 100%;
    bottom: -5px;
  }
  75% {
    height: 0;
    width: 5px;
    left: 100%;
    bottom: 100%;
  }
  75.01% {
    height: 5px;
    width: calc(100% + 10px);
    left: 0%;
    bottom: 100%;
  }
  99.01% {
    height: 5px;
    width: 0;
    left: 0;
    bottom: 100%;
  }
}

.intro {
  position: absolute;
  top: -15px;
  left: 50%;
  font-size: 1.2em;
  padding: 0 2em;
  transform: translateX(-50%);
  z-index: 4;
  background: #dadada;
  border-radius: 70px;
  color: var(--darkBlue);
  font-weight: bold;
  text-align: center;
}
.word-space-c {
  word-spacing: 7px;
}
.robot1Box {
  background-image: url("../../public/images/robot1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.robot2Box {
  background-image: url("../../public/images/robot2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.robot3Box {
  background-image: url("../../public/images/robot3.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.factoryBg {
  background-image: url("../../public/images/factory2.jpg");
  width: 100%;
  height: 67%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slidebgImg {
  background: url("../../public/images/bgNem.jpg");
}
.custom-shadow-1 {
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.3),
    0 5px 5px -5px rgba(0, 0, 0, 0.3);
}
.custom-shadow-2 {
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.3),
    0 5px 5px -5px rgba(0, 0, 0, 0.3);
}
.loadercontainer {
  background-image: url("../../public/images/loaderBg.png");
  width: 800px;
  height: 600px;
  background-size: 100%;
  background-repeat: no-repeat;
}
/* ----------------------------------- media query ---------------------------------- */

@media only screen and (min-width: 1800px) {
  .swiperContainer {
    width: 70%;
  }
}
@media only screen and (max-width: 1800px) {
  .swiperContainer {
    width: 70%;
  }
}
@media only screen and (max-width: 1500px) {
  .swiperContainer {
    width: 88%;
    font-size: 14px;
  }
}
@media only screen and (max-width: 900px) {
  .swiperContainer {
    width: 95%;
  }
}
@media only screen and (max-width: 768px) {
  .swiperContainer {
    width: 99%;
    font-size: 11px;
  }
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
